body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper__allContent {
    background-color: ivory;
    width: 100%;
}

p {
    text-align: center;
    font-size: 4rem;
    padding: 5%;
}

img {
    width: 100%;
    height: auto;
}

footer {
    font-size: 3rem;
    text-align: center;
}

/* Gradient transparent - color - transparent
Taken from https://css-tricks.com/examples/hrs/ */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Text Header Classes */

.font__siteTitle {
    font-size: 10vw;
    margin: 0;
}

.font__logline {
    font-size: 8vw;
    margin: 3vh;
}

.font__sectionHeader {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
}

.font__projectTitle {
    font-size: 5rem;
    font-weight: bold;
    padding-left: 5%;
}

.font__projectSubtitle {
    font-size: 5rem;
    font-weight: normal;
    padding-left: 5%;
}

/* Text Headers END */

header {
    text-align: center;
}

.circularImage {
    border-radius: 50%;
}

.container__social {
    display: flex;
    justify-content: space-evenly;
}

.item__social {
    width: 10%;
}

.container_projects {
    display: flex;
}

/* Fits video players to screen width
Taken from CSS Tricks https://css-tricks.com/fluid-width-video/ */

.videoWrapper {
    position: relative;
    height: 0;
    /* falls back to 16/9, but otherwise uses ratio from HTML */
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END */

.projectImage {
    width: 100%;
}

.container__logo {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.container__icon {
    width: 75%;
    margin: 0 auto;
}

.container__bio {
    width: 100%;
}