body {
    font-family: 'Open Sans', sans-serif;
    color: #1D1E18;
}

.fullPageWrapper {
    background-color: #F1F2EB;
    width: 100%;
}

header a {
    color: #1D1E18;
    text-decoration: none;
}

a {
    color: #453641;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 4rem;
    line-height: 6rem;
    padding: 0;
    margin: 4%;
}

img {
    width: 100%;
    height: auto;
}

footer {
    font-size: 3rem;
    text-align: center;
}

/* Gradient transparent - color - transparent
Taken from https://css-tricks.com/examples/hrs/ */

.hr--fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #453641, rgba(0, 0, 0, 0));
}

.text--center {
    text-align: center;
}

/* Text Header Classes */

.header__siteTitle {
    font-size: 10vw;
    margin: 0;
}

.header__logline {
    font-size: 8vw;
    margin: 5% auto;
}

.main__sectionHeader {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin: 4%;
    padding: 3vh;
}

.project__title {
    font-size: 5rem;
    font-weight: bold;
    margin: 4% 0 1vh 0;
    padding: 0 0 0 3vw;
}

.project__subtitle {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 1vh 0 4% 0;
    padding: 0 0 0 3vw;
}

/* Text Headers END */

header {
    text-align: center;
}

.sidebar__icon--circle {
    border-radius: 50%;
}

.sidebar__social {
    display: flex;
    justify-content: space-evenly;
}

.social__icon {
    width: 10%;
}

.body__mainColumn {
    display: flex;
}

.project {
    background-color: #D8DAD3;
    color: #453641;
    margin: 0 0 10vh 0;
    padding: .01vw 0;
}

/* Fits video players to screen width
Taken from CSS Tricks https://css-tricks.com/fluid-width-video/ */

.videoWrapper {
    position: relative;
    height: 0;
    /* falls back to 16/9, but otherwise uses ratio from HTML */
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END */

.project__img {
    width: 100%;
}

.sidebar {
    margin: 3vh 0;
}

.sidebar p {
    margin: 3vh;
}

.header__logo {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.sidebar__icon {
    width: 75%;
    margin: 0 auto;
}

.sidebar__bio {
    width: 100%;
}