/* Default/Mobile Stylesheet */

/* GENERAL STYLING */

body {
    background-color: darkseagreen;
}

.fullPageWrapper {
    background-color: #F1F2EB;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #1D1E18;
}

footer {
    font-size: 3rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 4rem;
    line-height: 6rem;
    padding: 0;
    margin: 4%;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #453641;
    font-weight: bold;
}

/* END GEN STYLING*/

/* REUSABLE MODIFIERS */

/* hr style taken from https://css-tricks.com/examples/hrs/ */

.hr--fade {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #453641, rgba(0, 0, 0, 0));
}

/* end hr style */

.text--center {
    text-align: center;
}

.img--circle {
    border-radius: 50%;
}

/* END REUSABLE MODIFIERS*/

/* HEADER */

.header__logo {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.header__textWrapper a {
    color: #1D1E18;
    text-decoration: none;
    text-align: center;
}

.header__siteTitle {
    font-size: 10vw;
    margin: 0;
}

.header__logline {
    font-size: 8vw;
    margin: 5% auto;
}

/* END HEADER */

/* PAGE ORGANIZATION */

.body__sidebarColumn {
    display: flex;
    flex-direction: column;
}

.body__projectColumn {
    display: flex;
    flex-direction: column;
}

/* END PAGE ORG*/

/* SIDEBAR */

.sidebar {
    margin: 3vh 0;
}

.sidebar p {
    margin: 3vh;
}

.sidebar__icon {
    width: 75%;
    margin: 0 auto;
}

.sidebar__bio {
    width: 100%;
}

.sidebar__socialWrapper {
    display: flex;
    justify-content: space-evenly;
}

.sidebar__social_icon {
    width: 10%;
}

/* END SIDEBAR */

/* PROJECTS */

.sectionHeader {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin: 4%;
    padding: 3vh;
}

.project {
    background-color: #D8DAD3;
    color: #453641;
    margin: 0 0 10vh 0;
    padding: .01vw 0;
}

.project__title {
    font-size: 5rem;
    font-weight: bold;
    margin: 4% 0 1vh 0;
    padding: 0 0 0 3vw;
}

.project__subtitle {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 1vh 0 4% 0;
    padding: 0 0 0 3vw;
}

.project__img {
    width: 100%;
}

/* Fits video players to screen width
Taken from CSS Tricks https://css-tricks.com/fluid-width-video/ */

.project__vid {
    position: relative;
    height: 0;
    /* falls back to 16/9, but otherwise uses ratio from HTML */
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.project__vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* end video fitter */

.project__link {
    margin: 0 auto;
}

.project__link iframe {
    height: auto;
    width: 100%;
}

/* END PROJECTS */