body {
    background-color: darkseagreen;
}

.wrapper__allContent {
    margin: 0 auto;
    padding: 0 2vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: small;
    padding: 2vh;
}

/* Wrapper adjustment based on size of browser window: the smaller the browser is, the wider the content wrapper becomes */

@media all and (min-width: 1001px) {
    .wrapper__allContent {
        width: 70%;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    .wrapper__allContent {
        width: 90%;
    }
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
}

/* Text Header Classes */

.font__siteTitle {
    font-size: 2rem;
}

.font__logline {
    font-size: 1.5rem;
    line-height: 1rem;
}

.font__sectionHeader {
    font-size: 2rem;
    padding: 0;
}

.font__projectTitle {
    font-size: 1.5rem;
}

.font__projectSubtitle {
    font-size: 1rem;
}

/* Text Headers END */

.item__project p {
    text-align: left;
}

.container__body--notHeader {
    display: flex;
    justify-content: space-between;
}

.container__scrollingContent {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.container__sidebarColumn {
    width: 30%;
}

.wrapper__sidebar {
    height: 30vh;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 10%;
}

.wrapper__sidebar p {
    padding: 5%;
    margin: 0 auto;
}

.container__logo {
    width: 15%;
    padding: 1% 1%;
    margin: 0 0;
}

.container__siteTitleLogline {
    display: inline-block;
    white-space: nowrap;
}