/* Wide/Desktop Stylesheet */

/* GENERAL STYLING */

.fullPageWrapper {
    margin: 0 auto;
    padding: 0 2vw;
}

/* Wrapper adjustment based on size of browser window: the smaller the browser is, the wider the content wrapper becomes */

@media all and (min-width: 1001px) {
    .fullPageWrapper {
        width: 70%;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    .fullPageWrapper {
        width: 90%;
    }
}

/* end wrapper adjustment */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: small;
    padding: 2vh;
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
}

/* END GEN STYLING */

/* HEADER */

.header__logo {
    width: 15%;
    padding: 1% 1%;
    margin: 0 0;
}

.header__textWrapper a {
    display: inline-block;
    white-space: nowrap;
}

.header__siteTitle {
    font-size: 2rem;
}

.header__logline {
    font-size: 1.5rem;
    line-height: 1rem;
}

/* END HEADER */

/* PAGE ORGANIZATION */

.bodyFlexbox {
    display: flex;
    justify-content: space-between;
}

.body__sidebarColumn {
    width: 30%;
}

.body__projectColumn {
    width: 68%;
}

/* END PAGE ORG */

/* SIDEBAR */

.sidebar {
    height: 30vh;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 10%;
}

.sidebar p {
    padding: 5%;
    margin: 0 auto;
}

/* END SIDEBAR */

/* PROJECTS */

.sectionHeader {
    font-size: 2rem;
    padding: 0;
}

.project__title {
    font-size: 1.5rem;
}

.project__subtitle {
    font-size: 1rem;
}

.project p {
    text-align: left;
}

/* END PROJECTS */