body {
    background-color: darkseagreen;
}

.wrapper__allContent {
    margin: 0 auto;
}

/* Wrapper adjustment based on size of browser window: the smaller the browser is, the wider the content wrapper becomes */

@media all and (min-width: 1001px) {
    .wrapper__allContent {
        width: 70%;
    }
}

@media all and (max-width: 1000px) and (min-width: 520px) {
    .wrapper__allContent {
        width: 90%;
    }
}

p {
    font-size: 1rem;
    padding: 0;
}

/* Text Header Classes */

.font__siteTitle {
    font-size: 2rem;
}

.font__logline {
    font-size: 1.5rem;
    line-height: 1rem;
}

.font__sectionHeader {
    font-size: 2rem;
}

.font__projectTitle {
    font-size: 1.5rem;
}

.font__projectSubtitle {
    font-size: 1.5rem;
}

/* Text Headers END */

.item__project {
    background-color: whitesmoke;
    margin-bottom: 10vh;
}

.container__body--notHeader {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

.container__scrollingContent {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}

.container__sidebar {
    width: 30%;
    margin-top: 5vh;
}

.container__logo {
    display: inline-block;
    width: 15%;
    padding: 1%;
}